:host {
  display: block;
}

.vgr-button {
  border-radius: 0.625rem;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  line-height: 1.5;
  border: none;
  font-family: Verdana, sans-serif;
  cursor: pointer;
  font-weight: 700;
}

.vgr-button.variant-primary {
  background: var(--primary-action);
  color: var(--neutral-text-inverted);
}
.vgr-button.variant-primary:hover {
  background: var(--neutral-text);
}
.vgr-button.variant-primary:disabled {
  background: var(--neutral-divider);
  color: var(--neutral-text-variant);
}

.vgr-button.variant-secondary {
  background: transparent;
  color: var(--primary-action);
  border: 2px solid var(--primary-action);
}
.vgr-button.variant-secondary:hover {
  color: var(--neutral-text);
}
.vgr-button.variant-secondary:disabled {
  color: var(--neutral-divider);
}

.vgr-button:disabled {
  cursor: not-allowed;
}
